html 
    head
        title members 
    body    
        h1 MongoDB Members
        table 
            tr
                th Forename 
                th Surname 
                th Role
                th Email
            each val in data    
                tr 
                    td= val.forename
                    td= val.surname
                    td= val.role
                    td= val.email
                    td
                        a(href="/pug/mongodb/member/edit/"+val._id) Edit
                    td
                        a(href="/pug/mongodb/member/delete/"+val._id) Delete
            else    
                td There are no values