html 
    head
        title members 
    body    
        h1 members
        table 
            tr
                th Forename 
                th Surname 
                th Email
            each val in data    
                tr 
                    td= val.forename
                    td= val.surname
                    td= val.email
            else    
                td There are no values